<div class="login">
    <div class="wrapper wrapper-login wrapper-login-full p-0">
        <div class="login-aside w-50 d-flex flex-column align-items-center justify-content-center text-center bg-secondary-gradient">
            <img src="assets/img/inicio.svg">
        </div>
        <div class="login-aside w-50 d-flex align-items-center justify-content-center bg-white">
            <div class="container container-login container-transparent animated fadeIn">
                <h3 class="text-center">Iniciar Sesión</h3>
                <form [formGroup]="loginUser" (ngSubmit)="iniciarSesion()">
                    <div class="login-form">
                        
                        <div class="form-group" [class.has-error]="userEmailNoValid" [class.has-success]="userEmailValid">
                            <label for="userEmail" class="placeholder"><b>Username</b></label>
                            <input  class="form-control" type="email"
                                    id="userEmail" name="userEmail" 
                                    formControlName="userEmail">
                        </div>
                        
                        <div class="form-group" [class.has-error]="userPasswordNoValid" [class.has-success]="userPasswordValid">
                            <label for="userPassword" class="placeholder"><b>Password</b></label>
                            <a (click)="recoverPass()" class="link float-right cursorPointer">Olvidaste tu Contraseña?</a>
                            <div class="position-relative">
                                <input  type="password" class="form-control"
                                        id="userPassword" name="userPassword"  
                                        formControlName="userPassword" >
                                <div class="show-password">
                                    <i class="icon-eye"></i>
                                </div>
                            </div>
                        </div>

                        <div class="form-group form-action-d-flex mb-3">
                            <div class="custom-control custom-checkbox">
                                <input  type="checkbox" class="custom-control-input" 
                                        id="userSaveDatos" name="userSaveDatos"
                                        formControlName="userSaveDatos">
                                <label class="custom-control-label m-0" for="userSaveDatos">Recordar Datos</label>
                            </div>
                            <button class="btn btn-secondary col-md-5 float-right mt-3 mt-sm-0 fw-bold" 
                                    type="submit">
                                    Iniciar Sesión
                            </button>
                        </div>
                        
                    </div>
                </form>
                
            </div>
        </div>
    </div>
</div>