<div class="row">
    <div class="wizard-container wizard-round col-md-9">

        <form formGroup="nuevoUsuario" (ngSubmit)="crearUsuario()">

            <div class="wizard-body">
                <div class="row">
                    <div class="col-md-6">
                        <!-- ingresar nombres -->
                        <div class="form-group">
                            <label for="name">Nombres
                                <span class="required-label">*</span>
                            </label>
                            <input type="text" class="form-control" placeholder="Escribe tu nombre" id="userNombres"
                                name="userNombres" formControlName="userNombres">
                        </div>

                        <!-- ingresar nombres -->
                        <div class="form-group ">
                            <label for="name">Numero de identificacion
                                <span class="required-label">*</span>
                            </label>
                            <div class="row">
                                <div class="col-3">
                                    <div class="select2-input ">
                                        <select class="form-control " 
                                                id="userRolID" name="userRolID"  
                                                formControlName="userRolID" >
                                            <option value="rol._id" >CC</option>                                                                                
                                            <option value="rol._id" >CC</option>                                                                                
                                            <option value="rol._id" >CC</option>                                                                                
                                        </select>
                                    </div>
                                </div>
                                <div class="col-9">
                                    <input type="text" class="form-control" placeholder="Escribe tu nombre" id="userNombres"
                                        name="userNombres" formControlName="userNombres">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="name">Ciudad
                                <span class="required-label">*</span>
                            </label>
                            <input type="text" class="form-control" placeholder="Escribe tu nombre" id="userNombres"
                                name="userNombres" formControlName="userNombres">
                        </div>
                        
                        <div class="form-group">
                            <label>Foto <span class="required-label">*</span></label>
                            
                            <div class="input-file input-file-image">
                                    <img class="img-upload-preview img-circle" width="100" height="100" src="http://placehold.it/100x100" alt="preview">
                                    <input type="file" class="form-control form-control-file" id="uploadImg" name="uploadImg" accept="image/*" required >
                                    <label for="uploadImg" class="btn btn-primary btn-round btn-lg">
                                        <i class="fa fa-file-image"></i> 
                                        Subir Foto
                                    </label>
                                </div>
                            
                        </div>

                    </div>
                    <div class="col-md-6">
                        <!-- ingresar nombres -->
                        <div class="form-group">
                            <label for="name">Apellidos
                                <span class="required-label">*</span>
                            </label>
                            <input type="text" class="form-control" placeholder="Escribe tu nombre" id="userNombres"
                                name="userNombres" formControlName="userNombres">
                        </div>
                        <div class="form-group">
                            <label>Fecha de Nacimiento</label>
                            <div class="input-group">
                                <input type="date" class="form-control" id="datepicker" name="datepicker">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="name">Dirección de Residencia
                                <span class="required-label">*</span>
                            </label>
                            <input type="text" class="form-control" placeholder="Escribe tu nombre" id="userNombres"
                                name="userNombres" formControlName="userNombres">
                        </div>
                        <div class="form-group">
                            <label for="name">EPS
                                <span class="required-label">*</span>
                            </label>
                            <input type="text" class="form-control" placeholder="Escribe tu nombre" id="userNombres"
                                name="userNombres" formControlName="userNombres">
                        </div>

                    </div>



                </div>
            </div>

            <div class="wizard-action">
                <div class="pull-right">
                    <button type="submit" class="btn btn-next btn-danger">
                        <i class="fas fa-save "></i> Guardar
                    </button>
                </div>
                <div class="clearfix"></div>
            </div>


        </form>
    </div>
</div>