<div class="row">
    <div class="wizard-container wizard-round col-md-9">

        <form [formGroup]="nuevoPaciente" (ngSubmit)="crearPaciente()">

            <div class="wizard-body">
                <div class="row">

                    <!-- ingresar nombres -->
                    <div class="col-md-6">
                        <div class="form-group"  [class.has-error]="pacienteNombresNoValid" [class.has-success]="pacienteNombresValid">
                            <label for="name">Nombres
                                <span class="required-label">*</span>
                            </label>
                            <input type="text" class="form-control" placeholder="Escribe el nombre del paciente" id="pacienteNombres"
                                name="pacienteNombres" formControlName="pacienteNombres">
                        </div>
                    </div>

                    <!-- ingresar apellidos -->
                    <div class="col-md-6">
                        <div class="form-group" [class.has-error]="pacienteCiudadNoValid" [class.has-success]="pacienteCiudadValid">
                            <label for="name">Apellidos
                                <span class="required-label">*</span>
                            </label>
                            <input type="text" class="form-control" placeholder="Escribe tu nombre" id="pacienteApellidos"
                                name="pacienteApellidos" formControlName="pacienteApellidos">
                        </div>
                    </div>

                    <!-- ingresar tipo y numero de ID -->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">Numero de identificacion
                                <span class="required-label">*</span>
                            </label>
                            <div class="row">
                                <div class="col-4">
                                    <div class="select2-input ">
                                        <select class="form-control" 
                                                id="pacienteTipoID" name="pacienteTipoID"  
                                                formControlName="pacienteTipoID" >
                                            <option value="Reg Civil" >Reg Civil</option>                                                                                
                                            <option value="TI" >TI</option>                                                                                
                                        </select>
                                    </div>
                                </div>
                                <div class="col-8">
                                    <input  type="text" class="form-control" 
                                            placeholder="Escribe tu nombre" id="pacienteNumID"
                                            name="pacienteNumID" formControlName="pacienteNumID">
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- ingresar fecha de nacimiento -->
                    <div class="col-md-6">
                        <div class="form-group" [class.has-error]="pacienteDateNaciNoValid" [class.has-success]="pacienteDateNaciValid">
                            <label>Fecha de Nacimiento</label>
                            <div class="input-group">
                                <input  type="date" class="form-control" 
                                        id="pacienteDateNaci" name="pacienteDateNaci"
                                        formControlName="pacienteDateNaci">
                            </div>
                        </div>
                    </div>

                    <!-- ingresar el nombre de la ciudad -->
                    <div class="col-md-6">
                        <div class="form-group"  [class.has-error]="pacienteCiudadNoValid" [class.has-success]="pacienteCiudadValid">
                            <label for="name">Ciudad
                                <span class="required-label">*</span>
                            </label>
                            <input  type="text" class="form-control" 
                                    placeholder="Escribe tu nombre" id="pacienteCiudad"
                                    name="pacienteCiudad" formControlName="pacienteCiudad">
                        </div>
                    </div>

                    <!-- ingresar direccion -->
                    <div class="col-md-6">
                        <div class="form-group" [class.has-error]="pacienteDireccionNoValid" [class.has-success]="pacienteDireccionValid">
                            <label for="name">Dirección de Residencia
                                <span class="required-label">*</span>
                            </label>
                            <input type="text" class="form-control" placeholder="Escribe tu nombre" id="pacienteDireccion"
                                name="pacienteDireccion" formControlName="pacienteDireccion">
                        </div>
                    </div>

                    <!-- subir foto del paciente -->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Foto del Paciente <span class="required-label">*</span></label>
                            
                            <div class="input-file input-file-image">

                                    <img    class="img-upload-preview img-circle" width="100" height="100"
                                    [src]="imageTemp" alt="preview"
                                    *ngIf="imageTemp">

                                    <img    class="img-upload-preview img-circle" width="100" height="100"
                                            src="assets/img/no-image.jpg" alt="preview"
                                            *ngIf="!imageTemp">

                                    <input  type="file" class="form-control form-control-file"
                                            id="uploadImg" name="uploadImg" accept="image/*" 
                                            (change)="cambiarImagen($event.target.files[0])">

                                    <label for="uploadImg" class="btn btn-primary btn-round btn-lg">
                                        <i class="fa fa-file-image"></i> 
                                        Subir Foto
                                    </label>
                            </div>

                        </div>
                    </div>
                    
                    <!-- ingresar EPS -->
                    <div class="col-md-6">
                        <div class="form-group" [class.has-error]="pacienteEPSNoValid" [class.has-success]="pacienteEPSValid">
                            <label for="name">EPS
                                <span class="required-label">*</span>
                            </label>
                            <input type="text" class="form-control" placeholder="Escribe tu nombre" id="pacienteEPS"
                                        name="pacienteEPS" formControlName="pacienteEPS">
                        </div>

                    </div>

                </div>
            </div>

            <div class="wizard-action">
                <div class="pull-right">
                    <button type="submit" class="btn btn-next btn-danger">
                        <i class="fas fa-save "></i> Guardar
                    </button>
                </div>
                <div class="clearfix"></div>
            </div>


        </form>
    </div>
</div>