<div class="page-inner">
    <div class="row">
        <div class="col-md-8">
            
            <div class="card card-with-nav">

                <div class="card-header">
                    <div class="row row-nav-line">
                        <ul class="nav nav-tabs nav-line nav-color-secondary w-100 pl-4" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="datos-tab" data-toggle="pill" href="#datos" role="tab"
                                    aria-controls="datos" aria-selected="true">
                                    <i class="far fa-address-book"></i> Datos
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="seguridad-tab" data-toggle="pill" href="#seguridad" role="tab"
                                    aria-controls="seguridad" aria-selected="false">
                                    <i class="fas fa-user-lock"></i> Seguridad
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="temaColors-tab" data-toggle="pill" href="#temaColors" role="tab"
                                    aria-controls="temaColors" aria-selected="false">
                                    <i class="fas fa-user-lock"></i> Personalizar Colores
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="tab-content mt-2 mb-3" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="datos" role="tabpanel" aria-labelledby="datos-tab">
                        <form [formGroup]="perfilUsuario" (ngSubmit)="actualizaPerfil()">
                            <div class="card-body">
                                <div class="row mt-3">
                                    <div class="col-md-6">
                                        <!-- nombre del usuario -->
                                        <div class="form-group">
                                            <label for="name">Nombre
                                                <span class="required-label">*</span>
                                            </label>

                                            <input type="text" class="form-control" placeholder="Ingresa tu nombre"
                                                id="userNombres" name="userNombres" formControlName="userNombres">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <!-- apellidos del usuario -->
                                        <div class="form-group">
                                            <label for="name">Apellidos
                                                <span class="required-label">*</span>
                                            </label>
                                            <input type="text" class="form-control" placeholder="Ingresa tus apellidos"
                                                id="userApellidos" name="userApellidos" formControlName="userApellidos">
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt-3">
                                    <div class="col-md-6">
                                        <!-- corre electronico del usuario -->
                                        <div class="form-group">
                                            <label for="name">Email
                                                <span class="required-label">*</span>
                                            </label>
                                            <input  type="text" class="form-control" placeholder="Ingresa tu email"
                                                    id="userEmail" name="userEmail" formControlName="userEmail" >
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <!-- numero de contacto del usuario -->
                                        <div class="form-group">
                                            <label for="name">Numero de Contacto
                                                <span class="required-label">*</span>
                                            </label>
                                            <input type="text" class="form-control"
                                                placeholder="Ingresa tu número de celular" id="userContacto"
                                                name="userContacto" formControlName="userContacto">
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt-3">
                                    <div class="col-md-4">
                                        <!-- avatar o foto del usuario -->
                                        <div class="form-group">
                                            <div class="input-file input-file-image">

                                                <img    class="img-upload-preview img-circle" width="100" height="100"
                                                        [src]="usuario.getImagen" alt="preview"
                                                        *ngIf="!imageTemp">
                                                <img    class="img-upload-preview img-circle" width="100" height="100"
                                                        [src]="imageTemp" alt="preview"
                                                        *ngIf="imageTemp">

                                                <input  type="file" class="form-control form-control-file"
                                                        id="uploadImg1" name="uploadImg1" accept="image/*" 
                                                        (change)="cambiarImagen($event.target.files[0])">

                                                <label for="uploadImg1"
                                                    class="  label-input-file btn btn-black btn-round">
                                                    <span class="btn-label">
                                                        <i class="fa fa-file-image"></i>
                                                    </span>
                                                    Upload a Image
                                                </label>
                                            </div>
                                        </div>



                                    </div>
                                    <div class="col-md-8">
                                        <!-- informacion del usuario -->
                                        <div class="form-group">
                                            <label for="name">Sobre mi:
                                                <span class="required-label">*</span>
                                            </label>
                                            <textarea class="form-control" rows="7" id="userSobreMi" name="userSobreMi"
                                                formControlName="userSobreMi">
                                            </textarea>
                                        </div>

                                    </div>
                                </div>

                                <div class="text-right mt-3 mb-3">
                                    <button type="submit" class="btn btn-success mr-2">Actualizar Datos</button>
                                </div>
                            </div>
                        </form>
                    </div>



                   

                </div>


            </div>
        </div>

        <div class="col-md-4">
            <div class="card card-profile">
                <div class="card-header" style="background-image: url('https://via.placeholder.com/150')">
                    <div class="profile-picture">
                        <div class="avatar avatar-xl">
                            <img src="{{usuario.getImagen}}" alt="..." class="avatar-img rounded-circle">
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="user-profile text-center">
                        <div class="name">{{ usuario.userNombres }}</div>
                        <div class="job">{{ usuario.userEmail }}</div>
                        <div class="desc">{{ usuario.userSobreMi }}</div>
                        

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- <div class="accordion accordion-secondary">
    <div class="card">
        <div class="card-header collapsed" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo"
            aria-expanded="false" aria-controls="collapseTwo" role="button">
            <div class="span-icon">
                <div class="flaticon-box-1"></div>
            </div>
            <div class="span-title">
                Lorem Ipsum #2
            </div>
            <div class="span-mode"></div>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod
                high life accusamus terry richardson ad squid. 3
                wolf moon officia aute, non cupidatat skateboard
                dolor brunch. Food truck quinoa nesciunt laborum
                eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put
                a bird on it squid single-origin coffee nulla
                assumenda shoreditch et. Nihil anim keffiyeh
                helvetica, craft beer labore wes anderson cred
                nesciunt sapiente ea proident. Ad vegan excepteur
                butcher vice lomo. Leggings occaecat craft beer
                farm-to-table, raw denim aesthetic synth nesciunt
                you probably haven't heard of them accusamus labore
                sustainable VHS.
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header collapsed" id="headingThree" data-toggle="collapse" data-target="#collapseThree"
            aria-expanded="false" aria-controls="collapseThree" role="button">
            <div class="span-icon">
                <div class="flaticon-box-1"></div>
            </div>
            <div class="span-title">
                Lorem Ipsum #3
            </div>
            <div class="span-mode"></div>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod
                high life accusamus terry richardson ad squid. 3
                wolf moon officia aute, non cupidatat skateboard
                dolor brunch. Food truck quinoa nesciunt laborum
                eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put
                a bird on it squid single-origin coffee nulla
                assumenda shoreditch et. Nihil anim keffiyeh
                helvetica, craft beer labore wes anderson cred
                nesciunt sapiente ea proident. Ad vegan excepteur
                butcher vice lomo. Leggings occaecat craft beer
                farm-to-table, raw denim aesthetic synth nesciunt
                you probably haven't heard of them accusamus labore
                sustainable VHS.
            </div>
        </div>
    </div>

</div> -->

