<!-- Custom template | don't include it in your project! -->


<div class="title">Settings</div>
<div class="custom-content">
    <div class="switcher">
        <div class="switch-block">
            <h4>Logo Header</h4>
            <div class="btnSwitch">
                <button (click)="cambioColorHeader('dark')" type="button" class="changeLogoHeaderColor" data-color="dark"></button>
                <button (click)="cambioColorHeader('blue')" type="button" class="selected changeLogoHeaderColor" data-color="blue"></button>
                <button (click)="cambioColorHeader('purple')" type="button" class="changeLogoHeaderColor" data-color="purple"></button>
                <button (click)="cambioColorHeader('light-blue')" type="button" class="changeLogoHeaderColor" data-color="light-blue"></button>
                <button (click)="cambioColorHeader('green')" type="button" class="changeLogoHeaderColor" data-color="green"></button>
                <button (click)="cambioColorHeader('orange')" type="button" class="changeLogoHeaderColor" data-color="orange"></button>
                <button (click)="cambioColorHeader('red')" type="button" class="changeLogoHeaderColor" data-color="red"></button>
                <button (click)="cambioColorHeader('white')" type="button" class="changeLogoHeaderColor" data-color="white"></button>
                <br />
                <button (click)="cambioColorHeader('dark2')" type="button" class="changeLogoHeaderColor" data-color="dark2"></button>
                <button (click)="cambioColorHeader('blue2')" type="button" class="changeLogoHeaderColor" data-color="blue2"></button>
                <button (click)="cambioColorHeader('purple2')" type="button" class="changeLogoHeaderColor" data-color="purple2"></button>
                <button (click)="cambioColorHeader('light-blue2')" type="button" class="changeLogoHeaderColor" data-color="light-blue2"></button>
                <button (click)="cambioColorHeader('green2')" type="button" class="changeLogoHeaderColor" data-color="green2"></button>
                <button (click)="cambioColorHeader('orange2')" type="button" class="changeLogoHeaderColor" data-color="orange2"></button>
                <button (click)="cambioColorHeader('red2')" type="button" class="changeLogoHeaderColor" data-color="red2"></button>
            </div>
        </div>
        <div class="switch-block">
            <h4>Navbar Header</h4>
            <div class="btnSwitch">
                <button (click)="cambioColorHeaderT('dark')" type="button" class="changeTopBarColor" data-color="dark"></button>
                <button (click)="cambioColorHeaderT('blue')" type="button" class="changeTopBarColor" data-color="blue"></button>
                <button (click)="cambioColorHeaderT('purple')" type="button" class="changeTopBarColor" data-color="purple"></button>
                <button (click)="cambioColorHeaderT('light-blue')" type="button" class="changeTopBarColor" data-color="light-blue"></button>
                <button (click)="cambioColorHeaderT('green')" type="button" class="changeTopBarColor" data-color="green"></button>
                <button (click)="cambioColorHeaderT('orange')" type="button" class="changeTopBarColor" data-color="orange"></button>
                <button (click)="cambioColorHeaderT('red')" type="button" class="changeTopBarColor" data-color="red"></button>
                <button (click)="cambioColorHeaderT('white')" type="button" class="changeTopBarColor" data-color="white"></button>
                <br />
                <button (click)="cambioColorHeaderT('dark2')" type="button" class="changeTopBarColor" data-color="dark2"></button>
                <button (click)="cambioColorHeaderT('blue2')" type="button" class="selected changeTopBarColor" data-color="blue2"></button>
                <button (click)="cambioColorHeaderT('purple2')" type="button" class="changeTopBarColor" data-color="purple2"></button>
                <button (click)="cambioColorHeaderT('light-blue2')" type="button" class="changeTopBarColor" data-color="light-blue2"></button>
                <button (click)="cambioColorHeaderT('green2')" type="button" class="changeTopBarColor" data-color="green2"></button>
                <button (click)="cambioColorHeaderT('orange2')" type="button" class="changeTopBarColor" data-color="orange2"></button>
                <button (click)="cambioColorHeaderT('red2')" type="button" class="changeTopBarColor" data-color="red2"></button>
            </div>
        </div>
        <div class="switch-block">
            <h4>Sidebar</h4>
            <div class="btnSwitch">
                <button (click)="cambioSidebar('white')" type="button" class="selected changeSideBarColor" data-color="white"></button>
                <button (click)="cambioSidebar('dark')" type="button" class="changeSideBarColor" data-color="dark"></button>
                <button (click)="cambioSidebar('dark2')" type="button" class="changeSideBarColor" data-color="dark2"></button>
            </div>
        </div>
        <div class="switch-block">
            <h4>Background</h4>
            <div class="btnSwitch">
                <button (click)="cambioBody('bg2')" type="button" class="changeBackgroundColor" data-color="bg2"></button>
                <button (click)="cambioBody('bg1')" type="button" class="changeBackgroundColor selected" data-color="bg1"></button>
                <button (click)="cambioBody('bg3')" type="button" class="changeBackgroundColor" data-color="bg3"></button>
                <button (click)="cambioBody('dark')" type="button" class="changeBackgroundColor" data-color="dark"></button>
            </div>
        </div>
    </div>
</div>

<!-- End Custom template -->