<div class="card">
    <div class="card-header">
        <div class="d-flex flex-row bd-highlight justify-content-between">
            <div class="avatar">
                <img [src]="imageTemp" alt="..." class="avatar-img rounded">
            </div>
            <div class="d-flex flex-column bd-highlight">
                <p><strong>Paciente: </strong>{{ nombrePaciente }}</p>
            </div>
            <div class="d-flex flex-column bd-highlight">
                <p><strong>Edad: </strong>{{ edadPaciente }}</p>
            </div>
            <div class="d-flex flex-column bd-highlight">
                <p><strong>Fecha: </strong> {{ dateEntrenamiento }}</p>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-5 col-md-2">
                <div class="nav flex-column nav-pills nav-secondary nav-pills-no-bd nav-pills-icons"
                    id="v-pills-tab-with-icon" role="tablist" aria-orientation="vertical">

                    <a class="nav-link" [ngClass]="{'active': numModulo===1 || numModulo===2}" href="#primeraFase">
                        <i class="fas fa-diagnoses fa-5x"></i>
                        Primera Fase
                    </a>

                    <a class="nav-link" [ngClass]="{'active': numModulo===3 || numModulo===4}" href="#segundaFase">
                        <i class="fas fa-user-md fa-5x "></i>
                        Segunda Fase
                    </a>

                    <a class="nav-link" [ngClass]="{'active': numModulo===5}" href="#terceraFase">
                        <i class="fas fa-stethoscope fa-5x"></i>
                        Tercera Fase
                    </a>

                </div>
            </div>
            <div class="col-7 col-md-10">

                <form [formGroup]="formEntrenamient" (ngSubmit)="guardarEntrenamiento()">

                    <div class="tab-content" id="v-pills-with-icon-tabContent">

                        <div class="tab-pane fade show active" id="primeraFase" role="tabpanel"
                            aria-labelledby="primeraFaseTab">

                            <!--********************************************************************************************** 
                                Primera Fase  Primer Momento 
                            **********************************************************************************************-->
                            <div class="tab-pane fade show active" *ngIf="numModulo===1">

                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title">Instrucción Verbal </h4>
                                    </div>

                                    <div class="card-body">
                                        <div *ngIf="alertError1" class="alert alert-danger" role="alert">
                                            <strong>Error, </strong> has ingresado un valor que esta fuera del rango
                                            permitido!
                                        </div>
                                        <div class="row">

                                            <div class="col-md-6" formGroupName="instruccionVerbal">
                                                <ul class="list-group list-group-bordered "
                                                    *ngFor="let emocion of emocionesLeft">
                                                    <li class="lista-item">
                                                        <div class="d-flex row align-items-center">
                                                            <div class="col-6">
                                                                <label>{{ emocion.nombreEmocion }}</label>
                                                            </div>
                                                            <div class="col-6">
                                                                <input type="text" class="form-control input-full"
                                                                    id="inlineinput" placeholder="puntaje"
                                                                    [formControlName]="emocion.controlName"
                                                                    (keyup)="validInputInstruccionVerbal()">
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>

                                            <div class="col-md-6" formGroupName="instruccionVerbal">
                                                <ul class="list-group list-group-bordered "
                                                    *ngFor="let emocion of emocionesRight">
                                                    <li class="lista-item">
                                                        <div class="d-flex row align-items-center">
                                                            <div class="col-6">
                                                                <label>{{ emocion.nombreEmocion }}</label>
                                                            </div>
                                                            <div class="col-6">
                                                                <input type="text" class="form-control input-full"
                                                                    id="inlineinput" placeholder="puntaje"
                                                                    [formControlName]="emocion.controlName"
                                                                    (keyup)="validInputInstruccionVerbal()">
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <div class="d-flex flex-row bd-highlight justify-content-end">
                                            <h3 class="text-capitalize text-primary"><strong>Promedio: </strong>{{
                                                promedioInsVerbal | number:'.0-2' }}</h3>
                                        </div>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title">Expresión Facial</h4>
                                    </div>
                                    <div class="card-body">
                                        <div *ngIf="alertError2" class="alert alert-danger" role="alert">
                                            <strong>Error, </strong> has ingresado un valor que esta fuera del rango
                                            permitido!
                                        </div>
                                        <div class="row">

                                            <div class="col-md-6" formGroupName="expresionFacial">
                                                <ul class="list-group list-group-bordered "
                                                    *ngFor="let emocion of emocionesLeft">
                                                    <li class="lista-item">
                                                        <div class="d-flex row align-items-center">
                                                            <div class="col-6">
                                                                <label>{{ emocion.nombreEmocion }}</label>
                                                            </div>
                                                            <div class="col-6">
                                                                <input type="text" class="form-control input-full"
                                                                    id="inlineinput" placeholder="puntaje"
                                                                    [formControlName]="emocion.controlName"
                                                                    (keyup)="validInputExpresionFacial()">
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>

                                            <div class="col-md-6" formGroupName="expresionFacial">
                                                <ul class="list-group list-group-bordered "
                                                    *ngFor="let emocion of emocionesRight">
                                                    <li class="lista-item">
                                                        <div class="d-flex row align-items-center">
                                                            <div class="col-6">
                                                                <label>{{ emocion.nombreEmocion }}</label>
                                                            </div>
                                                            <div class="col-6">
                                                                <input type="text" class="form-control input-full"
                                                                    id="inlineinput" placeholder="puntaje"
                                                                    [formControlName]="emocion.controlName"
                                                                    (keyup)="validInputExpresionFacial()">
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <div class="d-flex flex-row bd-highlight justify-content-end">
                                            <h3 class="text-capitalize text-primary"><strong>Promedio: </strong>{{
                                                promedioExpFacial | number: '.0-2' }}</h3>
                                        </div>
                                    </div>
                                </div>

                                <div class="text-right mt-3 mb-3" *ngIf="primeraFaseFull===2">
                                    <button class="btn btn-success mr-2"
                                        (click)="numModulo=numModulo+1">Siguiente</button>
                                </div>

                            </div>

                            <!--********************************************************************************************** 
                                Primera Fase  Segundo Momento 
                            **********************************************************************************************-->
                            <div class="tab-pane fade  show active" id="segundoMomentoF1" *ngIf="numModulo===2">

                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title">Selección de Emocion</h4>
                                    </div>

                                    <div class="card-body">
                                        <div *ngIf="alertError3" class="alert alert-danger" role="alert">
                                            <strong>Error, </strong> has ingresado un valor que esta fuera del rango
                                            permitido!
                                        </div>
                                        <div class="row">

                                            <div class="col-md-6" formGroupName="selectEmocion">
                                                <ul class="list-group list-group-bordered "
                                                    *ngFor="let emocion of emocionesLeft">
                                                    <li class="lista-item">
                                                        <div class="d-flex row align-items-center">
                                                            <div class="col-6">
                                                                <label>{{ emocion.nombreEmocion }}</label>
                                                            </div>
                                                            <div class="col-6">
                                                                <input type="text" class="form-control input-full"
                                                                    id="inlineinput" placeholder="puntaje"
                                                                    [formControlName]="emocion.controlName"
                                                                    (keyup)="validInputSelectEmocion()">
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>

                                            <div class="col-md-6" formGroupName="selectEmocion">
                                                <ul class="list-group list-group-bordered "
                                                    *ngFor="let emocion of emocionesRight">
                                                    <li class="lista-item">
                                                        <div class="d-flex row align-items-center">
                                                            <div class="col-6">
                                                                <label>{{ emocion.nombreEmocion }}</label>
                                                            </div>
                                                            <div class="col-6">
                                                                <input type="text" class="form-control input-full"
                                                                    id="inlineinput" placeholder="puntaje"
                                                                    [formControlName]="emocion.controlName"
                                                                    (keyup)="validInputSelectEmocion()">
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="card-footer">
                                        <div class="d-flex row bd-highlight justify-content-between align-items-center">
                                            <div class="row col-md-9" *ngFor="let item of resulSelectEmocion">

                                                <div class="col-md-4">
                                                    <p><strong>{{ item.nombreEmocion }}: </strong> {{ item.valorEmocion
                                                        }}</p>
                                                </div>
                                                <div class="col-md-7">

                                                    <span *ngIf="item.valorEmocion>0 && item.valorEmocion<20"
                                                        class="badge badge-danger" style="width: 100%;">{{
                                                        item.valorCualitativo }}</span>
                                                    <span *ngIf="item.valorEmocion>=20 && item.valorEmocion<40"
                                                        class="badge badge-warning" style="width: 100%;">{{
                                                        item.valorCualitativo }}</span>
                                                    <span *ngIf="item.valorEmocion>=40 && item.valorEmocion<60"
                                                        class="badge badge-info" style="width: 100%;">{{
                                                        item.valorCualitativo }}</span>
                                                    <span *ngIf="item.valorEmocion>=60 && item.valorEmocion<80"
                                                        class="badge badge-primary" style="width: 100%;">{{
                                                        item.valorCualitativo }}</span>
                                                    <span *ngIf="item.valorEmocion>=80 && item.valorEmocion<=100"
                                                        class="badge badge-success" style="width: 100%;">{{
                                                        item.valorCualitativo }}</span>

                                                </div>
                                            </div>
                                            <div class="col-md-3">

                                                <h3 class="text-capitalize text-primary"><strong>Promedio: </strong>{{
                                                    promedioSelecEmocion | number: '.0-2' }}</h3>

                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="d-flex flex-row bd-highlight mb-3 justify-content-between">
                                    <button class="btn btn-danger mr-2" (click)="numModulo=numModulo-1">Atrás</button>

                                    <button class="btn btn-primary mr-2" (click)="numModulo=numModulo+1" *ngIf="segundaFaseFull===1">Siguiente
                                        Fase</button>
                                </div>

                            </div>

                            <!--********************************************************************************************* 
                                Segunda Fase Primer Momento 
                            *********************************************************************************************-->
                            <div class="tab-pane fade show active" id="primerMomentoF2" *ngIf="numModulo===3">

                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title">Reconocimiento de emociones propias</h4>
                                    </div>

                                    <div class="card-body">

                                        <div *ngIf="alertError4" class="alert alert-danger" role="alert">
                                            <strong>Error, </strong> has ingresado un valor que esta fuera del rango
                                            permitido!
                                        </div>

                                        <div class="d-flex row  justify-content-center  align-items-center">
                                            <div class="col-md-9">
                                                <label for="f2CheckObserPm">Ingrese una calificación de acuerdo a la
                                                    emoción manifestada</label>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox"
                                                            id="f2CheckObserPm" formControlName="f2CheckObserPm" >
                                                        <span class="form-check-sign">Observaciones</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- imprimimos la calificacion de acuerdo al valor ingresado -->
                                        <div class="d-flex row  justify-content-center bd-highlight align-items-center">

                                            <div class="col-6">
                                                <div class="form-group">
                                                    <input type="number" class="form-control"
                                                        placeholder="Ingrese un valor de la escala Likert 0-100%"
                                                        formControlName="f2ValEmocionManifesPm" (keyup)="validInputEmociones()">
                                                </div>
                                            </div>

                                            <div class="col-6">
                                                <span *ngIf="valf2ValEmocionManifesPm>0 && valf2ValEmocionManifesPm<20"
                                                    class="badge badge-danger" style="width: 100%;">Muy en desacuerdo
                                                </span>
                                                <span
                                                    *ngIf="valf2ValEmocionManifesPm>=20 && valf2ValEmocionManifesPm<40"
                                                    class="badge badge-warning" style="width: 100%;">Algo en
                                                    Desacuerdo</span>
                                                <span
                                                    *ngIf="valf2ValEmocionManifesPm>=40 && valf2ValEmocionManifesPm<60"
                                                    class="badge badge-info" style="width: 100%;">Ni de Acuerdo Ni
                                                    Desacuerdo </span>
                                                <span
                                                    *ngIf="valf2ValEmocionManifesPm>=60 && valf2ValEmocionManifesPm<80"
                                                    class="badge badge-primary" style="width: 100%;">Algo de
                                                    Acuerdo</span>
                                                <span
                                                    *ngIf="valf2ValEmocionManifesPm>=80 && valf2ValEmocionManifesPm<=100"
                                                    class="badge badge-success" style="width: 100%;">Muy de Acuerdo
                                                </span>
                                            </div>

                                        </div>
                                        <!-- *************************************************************** -->

                                        <div class="row">
                                            <div class="col-md-12" *ngIf="viewObservacionPm">
                                                <div class="form-group">
                                                    <label for="f2ObservacionManifesPm">Observaciones</label>
                                                    <textarea class="form-control" id="f2ObservacionManifesPm" rows="3"
                                                        formControlName="f2ObservacionManifesPm">
                                                    </textarea>
                                                </div>
                                            </div>
                                        </div>



                                        <div class="d-flex row  justify-content-center  align-items-center">
                                            <div class="col-md-9">
                                                <label for="f2ValRelatoPm">Ingrese una calificación con base al relato
                                                    del niño</label>
                                            </div>
                                            <div class="col-md-3">

                                            </div>
                                        </div>
                                        <!-- imprimimos la calificacion de acuerdo al valor ingresado -->
                                        <div class="d-flex row  justify-content-center bd-highlight align-items-center">

                                            <div class="col-6">
                                                <div class="form-group">
                                                    <input type="number" class="form-control" id="f2ValRelatoPm"
                                                        placeholder="Ingrese un valor de la escala Likert 0-100%"
                                                        formControlName="f2ValRelatoPm" (keyup)="validInputEmociones()">
                                                </div>
                                            </div>

                                            <div class="col-6">
                                                <span *ngIf="valf2ValRelatoPm>0 && valf2ValRelatoPm<20"
                                                    class="badge badge-danger" style="width: 100%;">Muy en desacuerdo
                                                </span>
                                                <span *ngIf="valf2ValRelatoPm>=20 && valf2ValRelatoPm<40"
                                                    class="badge badge-warning" style="width: 100%;">Algo en
                                                    Desacuerdo</span>
                                                <span *ngIf="valf2ValRelatoPm>=40 && valf2ValRelatoPm<60"
                                                    class="badge badge-info" style="width: 100%;">Ni de Acuerdo Ni
                                                    Desacuerdo </span>
                                                <span *ngIf="valf2ValRelatoPm>=60 && valf2ValRelatoPm<80"
                                                    class="badge badge-primary" style="width: 100%;">Algo de
                                                    Acuerdo</span>
                                                <span *ngIf="valf2ValRelatoPm>=80 && valf2ValRelatoPm<=100"
                                                    class="badge badge-success" style="width: 100%;">Muy de Acuerdo
                                                </span>
                                            </div>

                                        </div>
                                        <!-- *************************************************************** -->
                                        <div class="row">
                                            <div class="col-md-12" *ngIf="viewObservacionPm">
                                                <div class="form-group">
                                                    <label for="f2ObservacionRelatoPm">Observaciones</label>
                                                    <textarea class="form-control" id="f2ObservacionRelatoPm" rows="3"
                                                        formControlName="f2ObservacionRelatoPm">
                                                    </textarea>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="d-flex flex-row bd-highlight mb-3 justify-content-between">
                                    <button class="btn btn-danger mr-2" (click)="numModulo=numModulo-1">Atrás</button>

                                    <button class="btn btn-success mr-2"
                                        (click)="numModulo=numModulo+1" *ngIf="pasoNextF2Full===1">Siguiente</button>
                                </div>
                            </div>

                            <!--********************************************************************************************* 
                                Segunda Fase Segundo Momento 
                            *********************************************************************************************-->
                            <div class="tab-pane fade  show active" id="segundoMomentoF2" *ngIf="numModulo===4">

                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title">Reconocimiento de emociones de otros</h4>
                                    </div>
                                    <div class="card-body">

                                        <div *ngIf="alertError6" class="alert alert-danger" role="alert">
                                            <strong>Error, </strong> has ingresado un valor que esta fuera del rango
                                            permitido!
                                        </div>

                                        <div class="d-flex row  justify-content-center  align-items-center">
                                            <div class="col-md-9">
                                                <label for="f2CheckObserSm">Ingrese una calificación para emoción
                                                    indicada por el niño</label>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox"
                                                            id="f2CheckObserSm" formControlName="f2CheckObserSm">
                                                        <span class="form-check-sign">Observaciones</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- imprimimos la calificacion de acuerdo al valor ingresado -->
                                        <div class="d-flex row  justify-content-center bd-highlight align-items-center">

                                            <div class="col-6">
                                                <div class="form-group">
                                                    <input type="number" class="form-control"
                                                        placeholder="Ingrese un valor de la escala Likert 0-100"
                                                        formControlName="f2ValEmocionIndicadaSm" (keyup)="validInputReconocimientos()">
                                                </div>
                                            </div>

                                            <div class="col-6">
                                                <span
                                                    *ngIf="valf2ValEmocionIndicadaSm>0 && valf2ValEmocionIndicadaSm<20"
                                                    class="badge badge-danger" style="width: 100%;">Muy en desacuerdo
                                                </span>
                                                <span
                                                    *ngIf="valf2ValEmocionIndicadaSm>=20 && valf2ValEmocionIndicadaSm<40"
                                                    class="badge badge-warning" style="width: 100%;">Algo en
                                                    Desacuerdo</span>
                                                <span
                                                    *ngIf="valf2ValEmocionIndicadaSm>=40 && valf2ValEmocionIndicadaSm<60"
                                                    class="badge badge-info" style="width: 100%;">Ni de Acuerdo Ni
                                                    Desacuerdo </span>
                                                <span
                                                    *ngIf="valf2ValEmocionIndicadaSm>=60 && valf2ValEmocionIndicadaSm<80"
                                                    class="badge badge-primary" style="width: 100%;">Algo de
                                                    Acuerdo</span>
                                                <span
                                                    *ngIf="valf2ValEmocionIndicadaSm>=80 && valf2ValEmocionIndicadaSm<=100"
                                                    class="badge badge-success" style="width: 100%;">Muy de Acuerdo
                                                </span>
                                            </div>

                                        </div>
                                        <!-- *************************************************************** -->

                                        <div class="row">
                                            <div class="col-md-12" *ngIf="viewf2CheckObserSm">
                                                <div class="form-group">
                                                    <label for="f2ObservacionEmocionIndicadaSm">Observaciones</label>
                                                    <textarea class="form-control" id="f2ObservacionEmocionIndicadaSm"
                                                        rows="3" formControlName="f2ObservacionEmocionIndicadaSm">
                                                    </textarea>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="d-flex row  justify-content-center  align-items-center">
                                            <div class="col-md-9">
                                                <label for="f2ValImitacionSm">Ingrese una calificación para la
                                                    imitación</label>
                                            </div>
                                            <div class="col-md-3">

                                            </div>
                                        </div>

                                        <!-- imprimimos la calificacion de acuerdo al valor ingresado -->
                                        <div class="d-flex row  justify-content-center bd-highlight align-items-center">

                                            <div class="col-6">
                                                <div class="form-group">
                                                    <input type="number" class="form-control" id="f2ValImitacionSm"
                                                        placeholder="Ingrese un valor de la escala Likert 0-100"
                                                        formControlName="f2ValImitacionSm" (keyup)="validInputReconocimientos()">
                                                </div>
                                            </div>

                                            <div class="col-6">
                                                <span *ngIf="valf2ValImitacionSm>0 && valf2ValImitacionSm<20"
                                                    class="badge badge-danger" style="width: 100%;">Muy en desacuerdo
                                                </span>
                                                <span *ngIf="valf2ValImitacionSm>=20 && valf2ValImitacionSm<40"
                                                    class="badge badge-warning" style="width: 100%;">Algo en
                                                    Desacuerdo</span>
                                                <span *ngIf="valf2ValImitacionSm>=40 && valf2ValImitacionSm<60"
                                                    class="badge badge-info" style="width: 100%;">Ni de Acuerdo Ni
                                                    Desacuerdo </span>
                                                <span *ngIf="valf2ValImitacionSm>=60 && valf2ValImitacionSm<80"
                                                    class="badge badge-primary" style="width: 100%;">Algo de
                                                    Acuerdo</span>
                                                <span *ngIf="valf2ValImitacionSm>=80 && valf2ValImitacionSm<=100"
                                                    class="badge badge-success" style="width: 100%;">Muy de Acuerdo
                                                </span>
                                            </div>

                                        </div>
                                        <!-- *************************************************************** -->
                                        <div class="row">
                                            <div class="col-md-12" *ngIf="viewf2CheckObserSm">
                                                <div class="form-group">
                                                    <label for="f2ObservacionImitacionSm">Observaciones</label>
                                                    <textarea class="form-control" id="f2ObservacionImitacionSm"
                                                        rows="3" formControlName="f2ObservacionImitacionSm">
                                                    </textarea>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="d-flex flex-row bd-highlight mb-3 justify-content-between">
                                    <button class="btn btn-danger mr-2" (click)="numModulo=numModulo-1">Atrás</button>

                                    <button class="btn btn-primary mr-2" (click)="numModulo=numModulo+1" *ngIf="pasoNextF3Full==1">Siguiente
                                        Fase</button>
                                </div>

                            </div>

                            <!--******************************************************************************************* 
                                Tercera Fase 
                            *******************************************************************************************-->
                            <div class="tab-pane fade show active" id="terceraFase" *ngIf="numModulo===5">

                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title">Instrucción Verbal </h4>
                                    </div>
                                    <div class="card-body">
                                        <div *ngIf="alertError5" class="alert alert-danger" role="alert">
                                            <strong>Error, </strong> has ingresado un valor que esta fuera del rango
                                            permitido!
                                        </div>
                                        <div class="row">

                                            <div class="col-md-6" formGroupName="expresionEmocionVcotidiana">
                                                <ul class="list-group list-group-bordered "
                                                    *ngFor="let emocion of emocionesLeft">
                                                    <li class="lista-item">
                                                        <div class="d-flex row align-items-center">
                                                            <div class="col-6">
                                                                <label>{{ emocion.nombreEmocion }}</label>
                                                            </div>
                                                            <div class="col-6">
                                                                <input type="text" class="form-control input-full"
                                                                    id="inlineinput" placeholder="puntaje"
                                                                    [formControlName]="emocion.controlName"
                                                                    (keyup)="validInputexpresionEmocionVcotidiana()">
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>

                                            <div class="col-md-6" formGroupName="expresionEmocionVcotidiana">
                                                <ul class="list-group list-group-bordered "
                                                    *ngFor="let emocion of emocionesRight">
                                                    <li class="lista-item">
                                                        <div class="d-flex row align-items-center">
                                                            <div class="col-6">
                                                                <label>{{ emocion.nombreEmocion }}</label>
                                                            </div>
                                                            <div class="col-6">
                                                                <input type="text" class="form-control input-full"
                                                                    id="inlineinput" placeholder="puntaje"
                                                                    [formControlName]="emocion.controlName"
                                                                    (keyup)="validInputexpresionEmocionVcotidiana()">
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>

                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="comment">Comment</label>
                                                    <textarea class="form-control" id="comment" rows="5">
                                                    </textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card-footer">
                                        <div class="d-flex row bd-highlight justify-content-between align-items-center">
                                            <div class="row col-md-9" *ngFor="let item of resulSelectEmocion">

                                                <div class="col-md-4">
                                                    <p><strong>{{ item.nombreEmocion }}: </strong> {{ item.valorEmocion
                                                        }}</p>
                                                </div>
                                                <div class="col-md-7">

                                                    <span *ngIf="item.valorEmocion>0 && item.valorEmocion<20"
                                                        class="badge badge-danger" style="width: 100%;">{{
                                                        item.valorCualitativo }}</span>
                                                    <span *ngIf="item.valorEmocion>20 && item.valorEmocion<80"
                                                        class="badge badge-warning" style="width: 100%;">{{
                                                        item.valorCualitativo }}</span>
                                                    <span *ngIf="item.valorEmocion>=80 && item.valorEmocion<=100"
                                                        class="badge badge-success" style="width: 100%;">{{
                                                        item.valorCualitativo }}</span>

                                                </div>
                                            </div>
                                            <div class="col-md-3">

                                                <h3 class="text-capitalize text-primary"><strong>Promedio: </strong>{{
                                                    promedioEmociones | number: '.0-2' }}</h3>

                                            </div>
                                        </div>

                                    </div>

                                </div>

                                <div class="d-flex flex-row bd-highlight mb-3 justify-content-between">
                                    <button class="btn btn-danger mr-2" (click)="numModulo=numModulo-1">Atrás</button>

                                    <button class="btn btn-success mr-2"
                                        (click)="numModulo=numModulo+1" *ngIf="terceraFaseFull===1">Siguiente</button>
                                </div>

                            </div>

                            <!--******************************************************************************************* 
                                Resultados Finales del entrenamiento
                            *******************************************************************************************-->
                            <div class="tab-pane fade show active" id="terceraFase" *ngIf="numModulo===6">

                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title">Resultados del Entrenamiento</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <h4><strong>Total Fase 1:</strong>  {{ totalPromeFase1  |  number:'2.0-2' }}</h4>
                                            </div>
                                            <div class="col-md-9">
                                                <div class="progress">
                                                    <div    class="progress-bar progress-bar-striped bg-info" 
                                                            role="progressbar"
                                                            [style.width]="gettotalPromeFase1">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <h4><strong>Total Fase 2:</strong>  {{ totalPromeFase2  |  number:'2.0-2' }}</h4>
                                            </div>
                                            <div class="col-md-9">
                                                <div class="progress">
                                                    <div    class="progress-bar progress-bar-striped bg-info" 
                                                            role="progressbar"
                                                            [style.width]="gettotalPromeFase2">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <h4><strong>Total Fase 3:</strong>  {{ totalPromeFase3  |  number:'2.0-2' }}</h4>
                                            </div>
                                            <div class="col-md-9">
                                                <div class="progress">
                                                    <div    class="progress-bar progress-bar-striped bg-info" 
                                                            role="progressbar"
                                                            [style.width]="gettotalPromeFase3">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <h4><strong>Promedio Total Prueba:</strong>  {{ totalEntrenamiento  |  number:'2.0-2' }}%</h4>
                                            </div>
                                            <div class="col-md-7">
                                                <div class="progress">
                                                    <div    class="progress-bar progress-bar-striped bg-info" 
                                                            role="progressbar"
                                                            [style.width]="gettotalEntrenamiento">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        

                                    </div>

                                </div>

                                <div class="d-flex flex-row bd-highlight mb-3 justify-content-between">
                                    <button class="btn btn-danger mr-2" (click)="numModulo=numModulo-1">Atrás</button>

                                    <button type="submit" class="btn btn-primary mr-2"><i class="fas fa-save"></i>
                                        Guardar</button>
                                </div>

                            </div>


                        </div>




                        <!--**************************  End  Tercera Fase  *****************************************-->
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>