<!-- Sidebar -->
<div class="sidebar sidebar-style-2">			
    <div class="sidebar-wrapper scrollbar scrollbar-inner">
        <div class="sidebar-content">
            <div class="user">
                <div class="avatar-sm float-left mr-2">
                    <img [src]="usuario.getImagen" alt="..." class="avatar-img rounded-circle">
                </div>
                <div class="info">
                    <a data-toggle="collapse" href="#collapseExample" aria-expanded="true">
                        <span>
                            {{ usuario.userNombres }}
                            <span class="user-level">Administrator</span>
                            <span class="caret"></span>
                        </span>
                    </a>
                    <div class="clearfix"></div>

                    <div class="collapse in" id="collapseExample">
                        <ul class="nav">
                            <li>
                                <a href="#profile">
                                    <span class="link-collapse">
                                        Editar Perfil
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a (click)="logout()" class="cursorPointer">
                                    <span class="link-collapse">
                                        Cerrar Sesión
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <ul class="nav nav-primary">
                
                <li class="nav-item">
                    <a routerLink="/dashboard">
                        <i class="fas fa-home"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <!-- <li class="nav-section">
                    <span class="sidebar-mini-icon">
                        <i class="fa fa-ellipsis-h"></i>
                    </span>
                    <h4 class="text-section">Components</h4>
                </li> -->

                

                <li class="nav-item" routerLinkActive="active">
                    <a data-toggle="collapse" href="#pacientes">
                        <i class="fas fa-users"></i>
                        <p>Pacientes</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="pacientes">
                        <ul class="nav nav-collapse">
                            <li>
                                <a routerLink="paciente">
                                    <span class="sub-item">Nuevo Paciente</span>
                                </a>
                            </li>
                            <li>
                                <a routerLink="pacientes">
                                    <span class="sub-item">Lista de Pacientes</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a routerLink="/dashboard/entrenamientos">
                        <i class="fas fa-user-check"></i>
                        <p>Lista de Pruebas</p>
                    </a>
                </li>
                
                <li class="nav-item" routerLinkActive="active">
                    <a data-toggle="collapse" href="#usuarios">
                        <i class="fas fa-users"></i>
                        <p>Usuarios</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="usuarios">
                        <ul class="nav nav-collapse">
                            <li>
                                <a routerLink="usuario">
                                    <span class="sub-item">Nuevo Usuario</span>
                                </a>
                            </li>
                            <li>
                                <a routerLink="usuarios">
                                    <span class="sub-item">Lista de Usuarios</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item" routerLinkActive="active">
                    <a routerLink="perfil">
                        <i class="far fa-address-card"></i>
                        <p>Perfil</p>
                        <span class="badge badge-count">6</span>
                    </a>
                </li>
                
            </ul>
        </div>
    </div>
</div>
<!-- End Sidebar -->