<div class="card" *ngIf="aviso">
    <div class="card-body">

        <div  class="row animated fadeIn fast">
            <div class="col-12">
                <div class="alert alert-info text-center">
                    <h1 class="alert-heading"><i class="fas fa-spinner fa-pulse fa-1x"></i> Ups... </h1>
                    <i class="fas fa-database fa-4x"></i>
                    <p class="mb-0">¡Lo sentimos, en el momento no se han registrado pruebas!</p>
                </div>
            </div>
        </div>
        
    </div>
</div>


<div class="row"  *ngIf="!aviso">
    <div class="col-md-12">
        <div class="card" >
            <div class="card-body">
                
                <table class="table table-hover">
                    <thead>
                        <tr> 
                            <th scope="col">Fecha Examen</th>
                            <th scope="col">Nombre Completo</th>
                            <th scope="col">Edad</th>
                            <th scope="col">Total Fase 1</th>
                            <th scope="col">Total Fase 2</th>
                            <th scope="col">Total Fase 3</th>
                            <th scope="col">Total Prueba</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
        
                        <tr *ngFor="let item of entrenamientos;let j=index">
                            <td>{{ item.dateAplicacion }}</td>
                            <td>{{ item.paciente.pacienteNombres }} {{ item.paciente.pacienteApellidos }}</td>
                            <td>{{ item.paciente.pacienteEdad }}</td>
                            <td>{{ item.totalPromeFase1 | number:'2.0-1'}}</td>
                            <td>{{ item.totalPromeFase2 | number:'2.0-1'}}</td>
                            <td>{{ item.totalPromeFase3 | number:'2.0-1'}}</td>
                            <td>{{ item.totalEntrenamiento | number:'2.0-1'}}</td>
                            <td>
                                <div class="list-group-messages">
                                    <div class="list-group-item-figure">
                                        <div class="dropdown">
                                            <button class="btn-dropdown" data-toggle="dropdown">
                                                <i class="icon-options-vertical"></i>
                                            </button>
                                            <div class="dropdown-arrow"></div>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a  class="dropdown-item cursorPointer"  (click)="eliminarPrueba(item,j)"  >Eliminar</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="mt-1 mb-2">
            <p class="text-muted"> Mostrando {{ desde }} - {{ desde+50 }} de {{ totalPruebas }}</p>
            <ul class="pagination justify-content-center mb-5 mb-sm-0" *ngIf="totalPruebas>=50">
                <li class="page-item">
                    <a class="page-link" (click)="cambiarPagina(-50)">
                        <i class="fa fa-angle-left"></i>
                    </a>
                </li>
        
                <li class="page-item">
                    <a class="page-link" (click)="cambiarPagina(50)">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </li>
            </ul>
        </div>

    </div>
</div>
