<div class="page-header">
    <h4 class="page-title">{{ titulo }}</h4>
    <ul class="breadcrumbs">
        <li class="nav-home">
            <a href="#">
                <i class="flaticon-home"></i>
            </a>
        </li>
        <li class="separator">
            <i class="flaticon-right-arrow"></i>
        </li>
        <li class="nav-item" >
            <a  routerLink="/dashboard">Dashboard</a>
        </li>
        <li class="separator" *ngIf="titulo!='Dashboard'">
            <i class="flaticon-right-arrow"></i>
        </li>
        <li class="nav-item" *ngIf="titulo!='Dashboard'">
            <a href="#">{{ titulo }}</a>
        </li>

    </ul>
</div>